<style type="text/css">
    .site-info {text-align: center;}
    .site-info > figure.site-avatar {margin: 0 auto var(--sidebar-element-separation);}
    /*.subsection-list .article-list--tile > article {width: initial; height: initial;}*/
    /*.subsection-list .article-list--tile article .article-details {padding: 12px 22px;}*/
    @media (min-width: 768px) {.container .left-sidebar {width: 100%;}}
    blockquote.quote {position: relative; margin: 1.5em -10em 0 -10; padding-left: 18%; padding-right: 15%; border: none; background-color: transparent}
    blockquote.quote::before {position: absolute; left: 7%; content: '“'; color: var(--color-contrast-low); font-family: serif; font-size: 3em; font-weight: 700; line-height: 1}
    blockquote cite {display: block; text-align: right;}
    .article-content>p:not(.no-text) {overflow-x: auto; overflow-y: hidden;}
</style>